
body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  position: fixed;top: 50px;right: 0;left: 0;bottom: 0;
}

.histoptions > label {
    font-weight: 500;
    cursor: pointer;
    font-size: 0.825rem;
}

.tooltip-line {
  background-color: #fff;
  z-index: 10000;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.histradio:checked + label {
  background-color: #00A7B9; 
  color:#fff !important;
  border-radius: 5px;
  padding: 2px ;
}

.meter {
  height: 25px;
  /* width: 100%; */
  background: #4e79a7;
}

.heading {
  color: #111;
  font-size: 1.1rem !important;
}

.para {
  color: #111;
  /* font-weight: 500; */
  font-size: 0.925em !important;
}

.domain {
  stroke: lightgray !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4e79a7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4e79a7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.card:hover{
  box-shadow: 8px 8px 8px #4e79a720 !important;
  transform:scale(1.05);
}